/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
    background: #0B0C10;
    color: #C5C6C7;
}

nav {
  background: #1F2833;
  color: #C5C6C7;
}

h1, h3 {
    color: #66FCF1;
}

a {
    color: #C5C6C7;
}

footer {
    background: #1F2833;
    height: 100px;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
}
