
<body style="align-content: center">
  <p>
    <h1>Bryson P. Boling</h1>
    <h6>2700 Butler National Dr, Pflugerville, Texas 78660</h6>
    <h6>(512) 694 - 1316</h6>
    <h6>Email: brysonboling13@gmail.com</h6>
    <br />

  <p>
    <b>Current Objectives: </b>
    May 2022 graduate looking for a rewarding career in Software Development with a degree in Cybersecurity
    <br />
  <br />
  <p>
    <h5><b><u>Relevant Skills (all intermediate)</u>: </b></h5>
    <ul>
      <li>
        Java
        <ul><li>Core language of Sam Houston State University curriculum</li></ul>
      </li>
      <li>
        C#, HTML5, CSS
        <ul><li>Used to develop EggBasket project (see below) as well as this website</li></ul>
      </li>
      <li>
        Ada
        <ul><li>Primarily used for Data Structures and Algorithms course</li></ul>
      </li>
      <li>
        x86 Disassembly
        <ul><li>Primarily used in Digital Forensics classes to better understand software architecture</li></ul>
      </li>
      <li>
        Microsoft Office Applications
      </li>
      <li>
        Virtualbox and VMWare
        <ul><li>Used these tools to setup a safe environment (Virtual Machine) in order to identify unknown malware</li></ul>
      </li>
      <li>
        IDA Pro, Wireshark, Autopsy, ApateDNS, ProcessExplorer, strings.exe, Dependency Walker, Procmon.exe, PEview , OllyDBG, PEiD
        <ul><li>Used these tools to understand the techniques used in Digital Forensics and Malware incursions</li></ul>
      </li>
      <li>
        Python
        <ul><li>Used in Data Mining/Machine Learning class to tune the 10 big DM/ML algorithms (such as AdaBoost, CART, SVM, and DT)</li></ul>
      </li>
    </ul>
    <br />
 

  <p>
    <h5><b><u>Work Experience: </u></b></h5>
    <br />
    Whataburger, Pflugerville, Texas&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;June 2021 to August 2021
    <ul>
      <li>Held Team Member position</li>
      <li>Key Responsibilties: Food Prep Station, Food Delivery</li>
      <li>Summer position only; left to attend Sam Houston State University</li>
      <li>Prepared me for and provided the experience of working in a team as well as the responsibility to get my work done on time</li>
      <li>Allowed me to earn money to help pay for school</li>
    </ul>
  

  <p>
    <h5><b><u>Key Education Projects</u>: </b></h5>
    <br />
    <b>Egg Basket</b> (Sam Houston State University)
    <ul>
      <li>Purpose: To create a password locker for Businesses</li>
      <li>Utilized C#, HTML5/CSS, and the Razor Pages framework of ASP.NET</li>
      <li>Worked on project from August 2021 – November 2021</li>
      <li>Worked in group of 4</li>
      <li>Completion Success:  100%</li>
      <li>GitHub link: https://github.com/DevinSMetzger/EggBasket</li>
    </ul>
    <br />

    <b>Prototype Windshield Heater</b> (Hendrickson High School)
    <ul>
      <li>Purpose: To develop means to heat front windshield of car using means not currently employed by automakers</li>
      <li>This prototype allowed a quick and efficient means for drivers to defog the front windshield while still allowing the driver to safely view
          the road ahead and any potential hazards</li>
      <li>Prototype developed by laying 44-gauge wire on the windshield and running a current through it. Due to a limited budget, we were unable to
          develop a more advanced prototype</li>
      <li>Worked on project from August 2017 – April 2018</li>
      <li>Worked in a group of 2</li>
      <li>Completion Success: 100%</li>
    </ul>
  
  <br />
  <p>
    <h5><b><u>Education</u></b></h5>
    <b>Sam Houston State University</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;August 2018 - May 2022
    <ul>
      <li>Degree: Bachelor of Science in Cybersecurity</li>
      <li>Dean's List 3 semesters</li>
      <li>GPA: 3.02</li>
    </ul>
    <br />
    <b>Hendrickson High School, Pflugerville, Texas</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spring 2018
    <ul>
      <li>AP Scholar</li>
      <li>Graduated through STEM Pathway</li>
    </ul>
  
</body>
